body {
  background-image: url('../images/med_health.svg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}@media all and (min-width: 992px) {
  * {
      outline: none;
      padding: 0;
      margin: 0;
  }
  a {
      outline: none !important;
  }
  body {
      background-color: #F5F5F5;
      color: #555;
      font-size: 1.1em;
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
      padding: 0;
      margin: 0;
  }
  
  .header{
      background:#FFF;
  }
  
  nav ul {
      -webkit-font-smoothing: antialiased;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
  }
 .navbar-nav{
     margin-left:auto ;
 }
  nav li {
      float: right;
      margin: 0;
      padding: 0;
      position: relative;
      font-family: 'Nunito', sans-serif;
      font-weight:bold;
      font-size:14px;
      line-height: 25px;
      letter-spacing: 0.125em;
  }
  /* .nav li{
      margin-left : 0.5em;
      margin-right : 0.5em;
      font-family: 'Nunito', sans-serif;
      font-weight:bold;
      font-size:14px;
      line-height: 25px;
      letter-spacing: 0.125em;
    } */
  nav a {
      color: #444;
      display: block;
      /* font: normal 13px/50px Arial, Helvetica, sans-serif; */
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all .95s ease;
      -moz-transition: all .95s ease;
      -ms-transition: all .95s ease;
      -o-transition: all .95s ease;
      transition: all .95s ease;
  }
  nav .dropdown {
      background:url('../images/arrow.jpg') no-repeat right center;
  }
  nav li:hover a {
      background: white;
      /* color:#FFF; */
  }
  nav li ul {
      float: left;
      left: 0;
      width:235%;
      opacity: 0;
      position: absolute;
      top: 35px;
      visibility: hidden;
      z-index: 1;
      -webkit-transition: all .95s ease;
      -moz-transition: all .95s ease;
      -ms-transition: all .95s ease;
      -o-transition: all .95s ease;
      transition: all .95s ease;
  }
  nav li:hover ul {
      opacity: 1;
      top: 50px;
      visibility: visible;
  }
  nav li ul li {
      float: none;
      width: 100%;
  }
  nav li ul a:hover {
      background: #bbb;
  }
  /* Clearfix */
  .cf:after, .cf:before {
      content: "";
      display: table;
  }
  .cf:after {
      clear: both;
  }
  .myScreen{
    opacity: 0;
  } 
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

*{
  font-family: myFirstFont;
}

#myNav1{
  color: white;
}
.myShadow{
  color: white;
}
.mainimg{
  border-radius: 20px;
}
.note{
  text-align:center;
}
.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
   letter-spacing: 0.125em;
}

#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#second{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#third{
  background-color:#4D4D4D;
  font-family: 'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
}
.f1{
  background-color:#EDEDEB;
    font-size:18px;
}
.hyper{
  color: black;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}
.plz-1{
  height: 46px;
  width: 156px;
}
.navbar-default{
  transition:250ms ease;
  background:transparent
}
.navbar-default.scrolled{
  background:rgb(255, 255, 255);
  color: #ffffd7;
}

/* for mobile phones */
/*1.for footer */
@media all and (max-width: 992px) {
  .f1,.f2,#third{
    font-size: 10px;
    padding-top: 0% !important;
  }
  .top{
    margin-top: 7%!important;
  }
  .logo{
    padding-top: 6% !important;
  }
  .logo1{
    margin-top: 0%!important;
    padding: 0% !important;
  }
  .add{
    margin-bottom: 3%!important;
  }
  .mobilebreak{
    display: none;
  }
  .f2{
    text-align: center !important;
  }
  .follow,.f3{
    font-size: 12px !important;
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
  }
  .social{
    margin-right: 15% !important;
  }.social1{
    margin-right: 5% !important;
  }
}
/* for top headings and cards */
@media all and (max-width: 992px) {
  .note{
    text-align: justify !important;
  }
  .heading{
    font-size: 40px !important;
  }
  .phncard{
    margin-top: -13px !important;
  }
}

@media only screen and (min-width: 992px){
  .myService_laptop {
    display: block;
  }
  
  .myService_mobile {
    display: none;
  }
  
  .myDomain_laptop {
    display: block;
  }

  .myDomain_mobile {
    display: none;
  }
  
  }
  
  @media only screen and (max-width: 991px){
  .myService_laptop {
    display: none;
  }
  
  .myService_mobile {
    display: block;
  }
  
  .myDomain_laptop {
    display: none;
  }
  
  .myDomain_mobile {
    display: block;
  }
  }


.myStyles1{
  list-style-type: none;
}

.myService_Domain_Nav{
  /* margin-left : 0.5em;
  margin-right : 0.5em; */
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

.mySty{
  line-height: 25px;
}

body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;   
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  /* width: 30px; */
  /* height: 30px; */
  position: relative;
  /* border: 4px solid #Fff; */
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  /* background-color: #fff; */
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}