.iframe-container{
    position: relative;
    height: 0px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/Font\ Avenir\ Next\ LT\ Pro\ \(1\).ttf');
  }
  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{  color: black; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }
.centered {
text-align: center;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

  #myNav1{
    color: white;
  }
  .myShadow{
    color: white;
  }
  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
  }
  *{
    font-family: myFirstFont;
  }

  .navbar li{
    margin-left : 0.5em;
    margin-right : 0.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }

  .iframe-container iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #first{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #second{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #third{
    background-color:#4D4D4D;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
    font-size:14px;
    line-height: 17px;
  }
  .f1{
    background-color:#EDEDEB;
      font-size:18px;
  }
  .hyper{
    color: black;
  }
  .f2{
    background-color:#4D4D4D ;
    line-height: 29px;
  }
  .f3{
    background-color:#4D4D4D;
    line-height: 29px;
  }
  .pl-1{
    height: 46px;
    width: 156px;
  }