body {
  background-image: url('../images/med_health.svg');
  background-size: contain contain;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
  .navbar li{
    margin-left : 0.5em;
    margin-right : 0.5em;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    font-size:14px;
    line-height: 25px;
     letter-spacing: 0.125em;
  }
  .btn{
    font-family: 'Nunito', sans-serif;
    font-size:11px;
    line-height: 25px;
    letter-spacing: 0.125em;
    background: #45619F;
    border-radius: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #first{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #second{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #third{
    background-color:#4D4D4D;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
    font-size:14px;
    line-height: 17px;
  }
  .f1{
    background-color:#EDEDEB;
  }
  .f2{
    background-color:#4D4D4D ;
    line-height: 29px;
  }
  .f3{
    background-color:#4D4D4D;
    line-height: 29px;
  }
  .abc{
    border-radius: 28px;
    height: 32px;
  }

  label {
    font-size: 14px;
  }
  .bcd{
  border-radius: 20px;
}
  @media only screen and (max-width: 600px){
    body {
      background-image: url('../images/contactPhone.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: 600px){
    body {
      background-image: url('../images/contactPhone.svg');
      background-size: contain contain;
      background-position: top, bottom;
      background-repeat: no-repeat;
      opacity: 1.5;
    }
  }
