body {
  background-image: url('../images/contact.svg');
}
.myImg{
  opacity: 0.1;
}@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}
*{
  font-family: myFirstFont;
}

@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
@media all and (min-width: 992px) {


    .mainmenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }
    .mainmenu ul li {
      display: inline-block;
      position: relative;
    }
    .mainmenu ul li a {
      display: block;
      color: #222;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 8px;
      /* padding-top: 8px; */
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .mainmenu ul li a:before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 3px;
        background: #000000;
        left: 0;
        opacity: 0;
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
        visibility: hidden;
    }
    .mainmenu ul li:hover > a:before, .mainmenu ul li.active > a:before {
        opacity: 1;
        visibility: visible;
    }
    .mainmenu ul li:hover > a {
      background: #f4f4f4;
      text-decoration: none;
        /* color: #ffc527; */
    }
     .mainmenu ul li.active > a {
      background: #f4f4f4;
      text-decoration: none;
        color: #ffc527;
    }
    .mainmenu li ul {
        background: #fff none repeat scroll 0 0;
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: center;
        /* top: 108px; */
        -webkit-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        visibility: hidden;
        width: 170%;
        z-index: -1;
    }
    .mainmenu li ul li {
        display: block;
    }
    .mainmenu li ul li a {
        /* padding-bottom: 10px;
        padding-top: 10px; */
        padding: 10px;
        text-transform: none;
    }
    .mainmenu li:hover ul {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        z-index: 99;
        /* top: 88px; */
    }

}

.mapouter{
  position:relative;
  text-align:right;
  height:63%;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:63%;
  width:100%;
}
.myFrame{
  height:63%;
  width:100%;
}

#myNav1{
  color: white;
}
.myShadow{
  color: white;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
  .navbar li{
    margin-left : 0.5em;
    margin-right : 0.5em;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  .btn{
    font-family: 'Nunito', sans-serif;
    font-size:11px;
    line-height: 25px;
    letter-spacing: 0.125em;
    background: #45619F;
    border-radius: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
  }

#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: #EDEDEB;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: white;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
  background: #4D4D4D;
}
.f1{
  background-color:#EDEDEB;
    font-size:18px;
}
.hyper{
  color: black;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}
.abc{
  border-radius: 28px;
  height: 32px;
}
.navbar-default{
  transition:250ms ease;
  background:transparent
}
.navbar-default.scrolled{
  background:rgb(255, 255, 255);
  color: #ffffd7;
}
label {
  font-size: 14px;
}
.bcd{
  border-radius: 20px;
}
  @media only screen and (max-width: 600px){
    body {
      background-image: url('../images/contactPhone.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: 600px){
    body {
      background-image: url('../images/contactPhone.svg');
      background-size: contain contain;
      background-position: top, bottom;
      background-repeat: no-repeat;
      opacity: 1.5;

    }

  }

  @media only screen and (max-width: 800px){
    .myspan{
      display: none;
    }

  }
  @media only screen and (min-width: 1200px){
    .mycontact {
      width:78%
    }

  }
  @media only screen and (min-width: 540px){
    .myAddress_laptop {
      display: block;
    }

    .myAddress_mobile {
      display: none;
    }

  }

  @media only screen and (max-width: 539px){
    .myAddress_laptop {
      display: none;
    }

    .myAddress_mobile {
      display: block;
    }

  }

#myHidden{
  display: none;
}
#myshown{
  display: block;
}
.plz-1{
  height: 46px;
  width: 156px;
}
/* for mobile phones */
/*1.for footer */
@media all and (max-width: 992px) {
  .f1,.f2,#third{
    font-size: 10px;
    padding-top: 0% !important;
  }
  .top{
    margin-top: 7%!important;
  }
  .logo{
    padding-top: 6% !important;
  }
  .logo1{
    margin-top: 0%!important;
    padding: 0% !important;
  }
  .add{
    margin-bottom: 3%!important;
  }
  .mobilebreak{
    display: none;
  }
  .f2{
    text-align: center !important;
  }
  .follow,.f3{
    font-size: 12px !important;
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
  }
  .social{
    margin-right: 15% !important;
  }.social1{
    margin-right: 5% !important;
  }
}

@media only screen and (min-width: 992px){
  .myService_laptop {
    display: block;
  }

  .myService_mobile {
    display: none;
  }

  .myDomain_laptop {
    display: block;
  }

  .myDomain_mobile {
    display: none;
  }

  .home_laptop {
    display: block;
  }

  .home_mobile {
    display: none;
  }

  .build_laptop {
    display: block;
  }

  .build_mobile {
    display: none;
  }
  .sustain_laptop {
    display: block;
  }

  .sustain_mobile {
    display: none;
  }

  .contact_laptop {
    display: block;
  }

  .contact_mobile {
    display: none;
  }

  }

  @media only screen and (max-width: 991px){
  .myService_laptop {
    display: none;
  }

  .myService_mobile {
    display: block;
  }

  .myDomain_laptop {
    display: none;
  }

  .myDomain_mobile {
    display: block;
  }
  .home_laptop {
    display: none;
  }

  .home_mobile {
    display: block;
  }

  .build_laptop {
    display: none;
  }

  .build_mobile {
    display: block;
  }
  .sustain_laptop {
    display: none;
  }

  .sustain_mobile {
    display: block;
  }

  .contact_laptop {
    display: none;
  }

  .contact_mobile {
    display: block;
  }
  }


.myStyles1{
  list-style-type: none;
}

.myService_Domain_Nav{
  /* margin-left : 0.5em;
  margin-right : 0.5em; */
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

.mySty{
  line-height: 25px;
}
@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
  .logo {
    padding-top: 0% !important;
}
.social1 {
    margin-right: 0% !important;
}
.social {
    margin-right: 7% !important;
}
}

.ipad_pro{
  display: none;
}

@media only screen and (width: 1024px) {
  .ipad_pro{
    display: block;
  }

  *{
    overflow-y: hidden;
  }

}