body {
  background-image: url('../images/prototyping-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Font\ Avenir\ Next\ LT\ Pro\ \(1\).ttf');
}
@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
*{
  font-family: myFirstFont;
}
.navbar-default{
  transition:250ms ease;
  background:transparent
}
.navbar-default.scrolled{
  background:rgb(255, 255, 255);
  color: #ffffd7;
}

@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
@media all and (min-width: 992px) {


    .mainmenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }
    .mainmenu ul li {
      display: inline-block;
      position: relative;
    }
    .mainmenu ul li a {
      display: block;
      color: #222;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 8px;
      /* padding-top: 8px; */
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .mainmenu ul li a:before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 3px;
        background: #000000;
        left: 0;
        opacity: 0;
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
        visibility: hidden;
    }
    .mainmenu ul li:hover > a:before, .mainmenu ul li.active > a:before {
        opacity: 1;
        visibility: visible;
    }
    .mainmenu ul li:hover > a {
      background: #f4f4f4;
      text-decoration: none;
        /* color: #ffc527; */
    }
     .mainmenu ul li.active > a {
      background: #f4f4f4;
      text-decoration: none;
        color: #ffc527;
    }
    .mainmenu li ul {
        background: #fff none repeat scroll 0 0;
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: center;
        /* top: 108px; */
        -webkit-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        visibility: hidden;
        width: 170%;
        z-index: -1;
    }
    .mainmenu li ul li {
        display: block;
    }
    .mainmenu li ul li a {
        /* padding-bottom: 10px;
        padding-top: 10px; */
        padding: 10px;
        text-transform: none;
    }
    .mainmenu li:hover ul {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        z-index: 99;
        /* top: 88px; */
    }

}


.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}

*{
  font-family: myFirstFont;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.removePadding {
  padding: 0 !important;
}

.increasePadding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#myNav1{
  color: white;
}
.myShadow{
  color: white;
}
.btn1{
    margin-right: 8vw;
    margin-left: 1vw;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 87px;
    height: 36px;
}
.card{
text-align: left;
height: 460px;
width: 260px;
line-height: 20px;
}
.note{
  text-align:justify;
}
.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
}
.f1{
  background-color:#EDEDEB;
    font-size:18px;
}
.hyper{
  color: black;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}
.plz-1{
  height: 46px;
  width: 156px;
}
.newwidth{
  margin-left: 3px;
}
.newwidth2{
  margin-right: 8px;
}

/* for mobile phones */
/*1.for footer */
@media all and (max-width: 992px) {
  .f1,.f2,#third{
    font-size: 10px;
    padding-top: 0% !important;
  }
  .top{
    margin-top: 7%!important;
  }
  .logo{
      padding-top: 6% !important;
  }
  .logo1{
    margin-top: 0%!important;
    padding: 0% !important;
  }
  .add{
    margin-bottom: 3%!important;
  }
  .mobilebreak{
    display: none;
  }
  .f2{
    text-align: center !important;
  }
  .follow,.f3{
    font-size: 12px !important;
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
  }
  .social{
    margin-right: 15% !important;
  }.social1{
    margin-right: 5% !important;
  }
  .newwidth{
    margin-left: 7px!important;
  }
  .newwidth2{
    margin-left: 8px!important;
  }
}
@media only screen and (min-width: 992px){

  .myService_laptop {
    display: block;
  }

  .myService_mobile {
    display: none;
  }

  .myDomain_laptop {
    display: block;
  }

  .myDomain_mobile {
    display: none;
  }

  .home_laptop {
    display: block;
  }

  .home_mobile {
    display: none;
  }

  .build_laptop {
    display: block;
  }

  .build_mobile {
    display: none;
  }
  .sustain_laptop {
    display: block;
  }

  .sustain_mobile {
    display: none;
  }

  .contact_laptop {
    display: block;
  }

  .contact_mobile {
    display: none;
  }

  }

  @media only screen and (max-width: 991px){
  .myService_laptop {
    display: none;
  }

  .myService_mobile {
    display: block;
  }

  .myDomain_laptop {
    display: none;
  }

  .myDomain_mobile {
    display: block;
  }
  .home_laptop {
    display: none;
  }

  .home_mobile {
    display: block;
  }

  .build_laptop {
    display: none;
  }

  .build_mobile {
    display: block;
  }
  .sustain_laptop {
    display: none;
  }

  .sustain_mobile {
    display: block;
  }

  .contact_laptop {
    display: none;
  }

  .contact_mobile {
    display: block;
  }
  }


.myStyles1{
  list-style-type: none;
}

.myService_Domain_Nav{
  /* margin-left : 0.5em;
  margin-right : 0.5em; */
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

.mySty{
  line-height: 25px;
}

@media all and (max-width: 992px) {
  .card{
  text-align: left !important;
  height: 470px !important;
  width: 300px !important;
  line-height: 20px !important;
  }
}
@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
  .social1 {
      margin-right: 0% !important;
  }
  .social {
      margin-right: 7% !important;
  }
   }
