.myLoaders {
  opacity: 0;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@media only screen and (max-width: 500px) {
  .loader-wrapper {
    display: none;
  }
}