body{
    overflow-x:hidden
}

.bg-blue-color {
    background: #45619F;
}

  .custom-btn{

  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
   letter-spacing: 0.125em;
   position: absolute;
 width: 300px;
 height: 46px;
 margin-left: 17em;
top: 85vh;
 background: #45619F;
 border-radius: 20px;
}





@media only screen and (max-width: 1000px){
  .custom-button{
  position: absolute;
  top: 24rem;;
  left:5vw;
  }
}
@media only screen and (max-width: 900px){
  .custom-button{
  position: absolute;
  top: 22rem;;
  left:5vw;
  }
}

@media only screen and (max-width: 800px){
  .custom-button{
  position: absolute;
  top: 20rem;;
  left:5vw;
  }
}
@media only screen and (max-width: 700px){
  .custom-button{
  position: absolute;
  top: 17rem;;
  left:3vw;
  }
}
@media only screen and (max-width: 600px){
  .custom-button{
  position: absolute;
  top:14rem;
  left:1vw;
  }
}

@media only screen and (max-width: 500px){
  .custom-button{
  position: absolute;
  top:12rem;
  left:1vw;
  }
}
@media only screen and (max-width: 400px){
  .custom-button{
  position: absolute;
  top:10rem;
  left:1vw;

  }

}
@media only screen and (max-width: 300px){
  .custom-button{
  position: absolute;
  top:8rem;
  left:1vw;
  }
}

.custom-arrow{
  color:  #9B8257;
  ;
}

.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
   letter-spacing: 0.125em;
}

#first{
  font-family:'Avenir LT Pro 45 Book';
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#second{
  font-family:'Avenir LT Pro 45 Book';
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#third{
  background-color:#4D4D4D;
  font-family:'Avenir LT Pro 45 Book';
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
}
