body{
  overflow-x:hidden;
  background: #E5E5E5;
}
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Font\ Avenir\ Next\ LT\ Pro\ \(1\).ttf');
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{  color: black; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.avenir_font{
  font-family: myFirstFont;
}
.myFont{
  font-size: 64px;
}
.myFont-btn{
  font-size: 20px;
}
.mystyle {
margin-top: 170px;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}

.avenir_font{
  font-family: myFirstFont;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.fcfcfc {
  background: #FCFCFC !important;
  font-size: 48px !important;
}

.bgimg {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* margin: 0 !important; */
}
.bg-blue-color {
  background: #45619F;
}

.mainpageimg{
  padding: 0 !important;
}

.row {
  padding: 0 !important;
  margin: 0;
}

.custom-btn{
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:16px;
  letter-spacing: 0.125em;
  background: #45619F;
  border-radius: 20px;
}

.card-img-overlay {
  height: 50vh !important;
  top: 30vh !important;
}

.shadow {
  box-shadow: 10px 10px 10px #ccc !important;
}

.color1 {
  color: #338CAD !important;
}

.color2 {
  color: #9B8257 !important;
}

.color3 {
  color: #373737 !important;
}

.custom-arrow > button{
  width: 15vw !important;
  color:  #9B8257;
}

.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: #EDEDEB;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: white;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
  background: #4D4D4D;
}

.text-align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tlbr {
  border-radius: 30px 0px 0px 0px;
}

.brbr {
  border-radius: 0px 0px 30px 0px;
}

.f1{
  background-color:#EDEDEB;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}

@media only screen and (max-width: 500px){
  .md-none {
    display: none !important;
  }
  
  .custom-btn{
    position: absolute;
    top: 32vh;
    left: 11vw;
    font-size: 7px;
  }

  .custom-arrow > button{
    width: 25vw !important;
    color:  #9B8257;
  }
}
@media only screen and (max-width: 400px){
  .custom-btn{
    position: absolute;
    top: 36vh;
    left: 8vw;
    font-size: 7px;
  }

  .custom-arrow > button{
    width: 25vw !important;
    color:  #9B8257;
  }
}

@media only screen and (max-width: 365px){
  .header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 300px){
  .custom-btn{
  position: absolute;
  top:34vh;
  left:1vw;
  font-size: 7px;
  }
}