body{
  overflow-x:hidden;
  background: #EDEDEB;
}


@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Font\ Avenir\ Next\ LT\ Pro\ \(1\).ttf');
}

/* @media all and (min-width: 992px) {
  .myimg1{
   background:url("images/mainback.svg"); 
  }
}
@media all and (max-width: 991px) {
  .myimg2{
    background:url("images/contactPhone.svg"); 
   }
} */
@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
@media all and (min-width: 992px) {
 

    .mainmenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }
    .mainmenu ul li {
      display: inline-block;
      position: relative;
    }
    .mainmenu ul li a {
      display: block;
      color: #222;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 8px;
      /* padding-top: 8px; */
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .mainmenu ul li a:before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 3px;
        background: #ffc527;
        left: 0;
        opacity: 0;
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
        visibility: hidden;
    }
    .mainmenu ul li:hover > a:before, .mainmenu ul li.active > a:before {
        opacity: 1;
        visibility: visible;
    }
    .mainmenu ul li:hover > a {
      background: #f4f4f4;
      text-decoration: none;
        /* color: #ffc527; */
    }
     .mainmenu ul li.active > a {
      background: #f4f4f4;
      text-decoration: none;
        color: #ffc527;
    }
    .mainmenu li ul {
        background: #fff none repeat scroll 0 0;
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: center;
        /* top: 108px; */
        -webkit-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        visibility: hidden;
        width: 170%;
        z-index: -1;
    }
    .mainmenu li ul li {
        display: block;
    }
    .mainmenu li ul li a {
        /* padding-bottom: 10px;
        padding-top: 10px; */
        padding: 10px;
        text-transform: none;
    }
    .mainmenu li:hover ul {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        z-index: 99;
        /* top: 88px; */
    }
    
}

.avenir_font{
  font-family: myFirstFont;
}
#myNav1{
  color: white;
}
.myShadow{
  color: white;
}

.myFont{
  font-size: 64px;
}
.myFont-btn{
  font-size: 20px;
}

.mystyle {
margin-top: 170px;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.navbar-default{
  transition:250ms ease;
  /*background:transparent*/
  background-image: url("../images/navimg.svg");
}
.navbar-default.scrolled{
  background:rgb(255, 255, 255);
  color: #ffffd7;
}
@media only screen and (width:768px){
  .phnimg{
    display: none;
  }
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}

.avenir_font{
  font-family: myFirstFont;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.fcfcfc {
  background: #FCFCFC !important;
  font-size: 48px !important;
}

.bgimg {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* margin: 0 !important; */
}
.bg-blue-color {
  background: #45619F;
}

.mainpageimg{
  padding: 0 !important;
}

.row {
  padding: 0 !important;
  margin: 0;
}

.custom-btn{
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:16px;
  letter-spacing: 0.125em;
  background: #45619F;
  border-radius: 20px;
}

.card-img-overlay {
  height: 50vh !important;
  top: 14vh !important;
}

.shadow {
  box-shadow: 10px 10px 10px #ccc !important;
}

.color1 {
  color: #338CAD !important;
}

.color2 {
  color: #9B8257 !important;
}

.color3 {
  color: #373737 !important;
}

.custom-arrow > a{
  width: 15vw !important;
  color:  #9B8257;
}

.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#fbtn:hover{
  background-color:#338CAD !important;
  color:white !important;
}
#tbtn:hover{
  background-color:#9B8257 !important;
  color:white !important;
}
#tebtn:hover{
  background-color:#373737 !important;
  color:white !important;
}


#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: #EDEDEB;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:18px;
  line-height: 25px;
  letter-spacing: 0.125em;
  background-color: white;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
  background: #4D4D4D;
}
.text-align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tlbr {
  border-radius: 30px 0px 0px 0px;
}

.brbr {
  border-radius: 0px 0px 30px 0px;
}

.f1{
  background-color:#EDEDEB;
    font-size:18px;
}
.hyper{
  color: black;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}

@media only screen and (max-width: 500px){
  .md-none {
    display: none !important;
  }

  .custom-btn{
    position: absolute;
    top: 32vh;
    left: 11vw;
    font-size: 7px;
  }

  .custom-arrow > button{
    width: 25vw !important;
    color:  #9B8257;
  }

  .navbar-default{
    transition:250ms ease;
    background: white;
  }
}
@media only screen and (max-width: 400px){
  .custom-btn{
    position: absolute;
    top: 36vh;
    left: 8vw;
    font-size: 7px;
  }

  .custom-arrow > button{
    width: 25vw !important;
    color:  #9B8257;
  }
}
@media only screen and (max-width: 365px){
  .header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 300px){
  .custom-btn{
  position: absolute;
  top:34vh;
  left:1vw;
  font-size: 7px;
  }
}
.plz-1{
  height: 46px;
  width: 156px;
}
#phone{
  display:none;
}
#desk{
  display: block;
}

/* for mobile phones */
/*1.for footer */
@media all and (max-width: 992px) {
  .f1,.f2,#third{
    font-size: 10px;
    padding-top: 0% !important;
  }
  .top{
    margin-top: 7%!important;
  }
  .logo{
    padding-top: 0% !important;
  }
  .logo1{
    margin-top: 0%!important;
    padding: 0% !important;
  }
  .add{
    margin-bottom: 3%!important;
  }
  .mobilebreak{
    display: none;
  }
  .f2{
    text-align: center !important;
  }
  .follow,.f3{
    font-size: 12px !important;
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
  }
  .social{
    margin-right: 15% !important;
  }.social1{
    margin-right: 5% !important;
  }
}

/* our clientele */

@media all and (max-width: 992px) {
 .slidesection{
   padding: 1% !important;
   margin: 0% !important;
   font-size: 24px !important;
    }
    .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: cadetblue;
}
.carousel-indicators {
    bottom: -45px;
    }
.carousel-indicators .active {
  background-color: #444;
}
}

/* for who we are  */
@media all and (max-width: 992px) {
 .myFont{
   font-size: 30px !important ;
   padding: 0% !important;
   margin: 0% !important;
 }
 .tlbr{
  border-radius: 15px 15px 0px 0px !important;
   font-size: 12px !important ;
   padding: 4% !important;
 }
 .brbr{
   border-radius: 0px !important;
   font-size: 12px !important ;
   padding: 4% !important;
 }
 .go{
   border-bottom-left-radius: 15px!important;
   border-bottom-right-radius: 15px!important;
 }
 body{
   overflow-x:hidden;
   background: #EDEDEB;
 }
 #desk{
   display: none;
 }
 #phone{
  display: block;
   }
}
@media all and (width:1024px){
  .my123{
    top: -200px;;
  }
}
/* for buttons */
@media all and (max-width: 992px) {
  .custom-arrow > a {
    width: 25vw !important;
    }
    .myFont-btn {
    font-size: 15px;
}
    .btnphn{
      padding-left: 0% !important;
    }
.phnimg{
  width: 150vw;
}
}

@media only screen and (min-width: 992px){
  .myService_laptop {
    display: block;
  }
  
  .myService_mobile {
    display: none;
  }
  
  .myDomain_laptop {
    display: block;
  }
  
  .myDomain_mobile {
    display: none;
  }

  .home_laptop {
    display: block;
  }
  
  .home_mobile {
    display: none;
  }
  
  .build_laptop {
    display: block;
  }
  
  .build_mobile {
    display: none;
  }
  .sustain_laptop {
    display: block;
  }
  
  .sustain_mobile {
    display: none;
  }
  
  .contact_laptop {
    display: block;
  }
  
  .contact_mobile {
    display: none;
  }
  
  }
  
  @media only screen and (max-width: 991px){
  .myService_laptop {
    display: none;
  }

  .myService_mobile {
    display: block;
  }

  .myDomain_laptop {
    display: none;
  }

  .myDomain_mobile {
    display: block;
  }
  .home_laptop {
    display: none;
  }
  
  .home_mobile {
    display: block;
  }
  
  .build_laptop {
    display: none;
  }
  
  .build_mobile {
    display: block;
  }
  .sustain_laptop {
    display: none;
  }
  
  .sustain_mobile {
    display: block;
  }
  
  .contact_laptop {
    display: none;
  }
  
  .contact_mobile {
    display: block;
  }
  }


.myStyles1{
  list-style-type: none;
}

.myService_Domain_Nav{
  /* margin-left : 0.5em;
  margin-right : 0.5em; */
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

.mySty{
  line-height: 25px;
}
