body {
  background-image: url('../images/prototyping-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}

*{
  font-family: myFirstFont;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{  color: black; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#myNav1{
  color: white;
}
.myShadow{
  color: white;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.note{
  text-align:center;
}
.mainimg{
  border-radius: 20px;
}
.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
   letter-spacing: 0.125em;
}

#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
}
.f1{
  background-color:#EDEDEB;
    font-size:18px;
}
.hyper{
  color: black;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}
