body {
  background-image: url('../images/prototyping-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}

*{
  font-family: myFirstFont;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.removePadding {
  padding: 0 !important;
}

.increasePadding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.note{
  text-align:justify;
}
.navbar li{
  margin-left : 0.5em;
  margin-right : 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
.btn1{
  /* margin-right: 8vw;
    margin-left: 1vw; */
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    height: 36px;
    width: 87px;
}
.card{
text-align: justify;
height: 456px;
}
#first{
  font-family: 'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#second{
  font-family:'Nunito', sans-serif;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}
#third{
  background-color:#4D4D4D;
  font-family:'Nunito', sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 17px;
}
.f1{
  background-color:#EDEDEB;
}
.f2{
  background-color:#4D4D4D ;
  line-height: 29px;
}
.f3{
  background-color:#4D4D4D;
  line-height: 29px;
}
