body {
  background-image: url('../images/sustain.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: myFirstFont;
  src: url('../fonts/FontAvenirNextLTPro.ttf');
}
.card{
  border: none;
}
.ow2{
  padding-right: 0px;
  padding-left: 0px;
}
.myCard{
  border-radius: 20px;
  font-size: 20px;
  margin: 0 auto;
  height: 380px;
  width: 280px;
  /* float: none;  */
  /* margin-bottom: 10px;  */
}

*{
  font-family: myFirstFont;
}

.avenir{
  font-family: myFirstFont;
}


@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
@media all and (min-width: 992px) {
    .mainmenu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }
    .mainmenu ul li {
      display: inline-block;
      position: relative;
    }
    .mainmenu ul li a {
      display: block;
      color: #222;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 8px;
      /* padding-top: 8px; */
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .mainmenu ul li a:before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 3px;
        background: #000000;
        left: 0;
        opacity: 0;
        transition: .3s;
        -webkit-transition: all 0.3s ease 0s;
        visibility: hidden;
    }
    .mainmenu ul li:hover > a:before, .mainmenu ul li.active > a:before {
        opacity: 1;
        visibility: visible;
    }
    .mainmenu ul li:hover > a {
      background: #f4f4f4;
      text-decoration: none;
        /* color: #ffc527; */
    }
     .mainmenu ul li.active > a {
      background: #f4f4f4;
      text-decoration: none;
        color: #ffc527;
    }
    .mainmenu li ul {
        background: #fff none repeat scroll 0 0;
        left: 0;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        text-align: center;
        /* top: 108px; */
        -webkit-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
        visibility: hidden;
        width: 170%;
        z-index: -1;
    }
    .mainmenu li ul li {
        display: block;
    }
    .mainmenu li ul li a {
        /* padding-bottom: 10px;
        padding-top: 10px; */
        padding: 10px;
        text-transform: none;
    }
    .mainmenu li:hover ul {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        z-index: 99;
        /* top: 88px; */
    }

}

.work{
  font-size: 26px;
}
#myNav1{
  color: white;
}
.myShadow{
  color: white;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.container-fluid{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.one{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
.one1{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.two{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.three{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.four{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .five{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 22px;
  }
  .trp{
    background: rgba(255, 255, 255, 0.7);
  }

.trm{
  background: rgba(45, 45, 45, 0.55);
}
.line1{
  background: rgba(255, 255, 255, 0.55);
  font-size: 26px;
}
a{
  color: black;
}
.myGoals{
  border-radius: 20px;
}
.goal{
  background: rgba(0, 0, 0, 0.47);
  border-radius: 90px 0px 0px 90px;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.065em;
}
.phn1{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 30px;
}
.phn2{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 22px;
}
.navbar-default{
  transition:250ms ease;
  background:transparent
}
.navbar-default.scrolled{
  background:rgb(255, 255, 255);
  color: #ffffd7;
}
.head{
  background-color: black;
  opacity: 70%;
}
  .navbar li{
    margin-left : 0.5em;
    margin-right : 0.5em;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    font-size:14px;
    line-height: 25px;
     letter-spacing: 0.125em;
  }
  .goal1{
    background-color:white;
    border-radius: 30px;
    width: 400px;
    height: 450px;
  }
.xyz{
  padding-top: 3% !important;
}
.clipi{
  clip-path: polygon(10% 0, 90% 0, 100% 49%, 90% 100%, 10% 100%, 0% 50%);
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0;
  overflow-x: hidden;
}
.ourgoal1{
  padding-right: 24%;
}
.ourgoal2{
  padding-left: 24%;
}

  #first{
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #second{
    font-family:'Nunito', sans-serif;
    font-size:14px;
    line-height: 25px;
    letter-spacing: 0.125em;
  }
  #third{
    background-color:#4D4D4D;
    font-family:'Nunito', sans-serif;
    font-weight:normal;
    font-size:14px;
    line-height: 17px;
  }
  .f1{
    background-color:#EDEDEB;
      font-size:18px;
  }
  .hyper{
    color: black;
  }
  .f2{
    background-color:#4D4D4D ;
    line-height: 29px;
  }
  .f3{
    background-color:#4D4D4D;
    line-height: 29px;
  }
  .opd{
  width: 50% !important;
  font-size: 22px;
  }
@media only screen and (max-width: 1300px){
      .xyz{
          padding-top: 1% !important;

      }
      .opd{
      width: 50% !important;
      }
    }
@media only screen and (max-width: 600px){
        .opd{
        width: 100% !important;
        text-align: justify;
        }
        .xyz{
            padding-top: 0% !important;

        }
            }
@media only screen and (max-width: 2000px){
      .down{
          padding: 6% !important;
        }
      }
.resiz{
  width: 268px;
  height: 222px;
  border-bottom-left-radius:20px ;
  border-bottom-Right-radius:20px ;
}
.resiz2{
  width: 226px;
  height: 146px;
}
.res{
  width:87vw;
}
.card-title{
  font-size: 13px;
}
.plz-1{
  height: 46px;
  width: 156px;
}

@media  only screen and (max-width: 992px) {
  .ourgoal1{
    padding-right: 2%  !important;
  }
  .ourgoal2{
    padding-left: 3%  !important;
  }
  .ow2{
    padding-right: 22px  !important;
    padding-left: 22px  !important;
  }
}

@media screen and (min-width: 461px) {
  .mySizeMobile1{
    display: block;

  }
  .mySizeMobile2{
    display: none;

  }
}
@media screen and (max-width: 460px) {
  .mySizeMobile1{
    display: none;
    line-height: 22px;
  }
  .mySizeMobile2{
    display: block;
    line-height: 22px;
  }
}
@media screen and (max-width: 550px) {
  .mySustainFont{
    line-height: 27px;
  }
}

@media screen and (max-width: 550px) {
  .text-responsive{
    font-size: 11vw;

  }
}@media all and (max-width: 991px) {
  *{
    overflow-x: hidden;
  }
}
/* for mobile phones */
/*1.for footer */
@media all and (max-width: 992px) {
  .f1,.f2,#third{
    font-size: 10px;
    padding-top: 0% !important;
  }
  .top{
    margin-top: 7%!important;
  }
  .logo{
    padding-top: 0% !important;
  }
  .logo1{
    margin-top: 0%!important;
    padding: 0% !important;
  }
  .add{
    margin-bottom: 3%!important;
  }
  .mobilebreak{
    display: none;
  }
  .f2{
    text-align: center !important;
  }
  .follow,.f3{
    font-size: 12px !important;
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
  }
  .social{
    margin-right: 15% !important;
  }.social1{
    margin-right: 5% !important;
  }
}
@media only screen and (min-width: 992px){
  .myService_laptop {
    display: block;
  }

  .myService_mobile {
    display: none;
  }

  .myDomain_laptop {
    display: block;
  }

  .myDomain_mobile {
    display: none;
  }

  .home_laptop {
    display: block;
  }

  .home_mobile {
    display: none;
  }

  .build_laptop {
    display: block;
  }

  .build_mobile {
    display: none;
  }
  .sustain_laptop {
    display: block;
  }

  .sustain_mobile {
    display: none;
  }

  .contact_laptop {
    display: block;
  }

  .contact_mobile {
    display: none;
  }

  }

  @media only screen and (max-width: 991px){
  .myService_laptop {
    display: none;
  }

  .myService_mobile {
    display: block;
  }

  .myDomain_laptop {
    display: none;
  }

  .myDomain_mobile {
    display: block;
  }
  .home_laptop {
    display: none;
  }

  .home_mobile {
    display: block;
  }

  .build_laptop {
    display: none;
  }

  .build_mobile {
    display: block;
  }
  .sustain_laptop {
    display: none;
  }

  .sustain_mobile {
    display: block;
  }

  .contact_laptop {
    display: none;
  }

  .contact_mobile {
    display: block;
  }
  }

.myStyles1{
  list-style-type: none;
}

.myService_Domain_Nav{
  /* margin-left : 0.5em;
  margin-right : 0.5em; */
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  font-size:14px;
  line-height: 25px;
  letter-spacing: 0.125em;
}

.mySty{
  line-height: 25px;
}

/* for ipad */
@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
  .opd{
  width: 96% !important;
  }
  .mySizeMobile1{
    margin-right: 28px!important;
  }
  .stf{
    margin-top: 6px!important;
      }
      .stb{
        margin-top: 19px!important;
          }
  .sf{
    margin-top: 1px!important;
    margin-bottom:0px!important;
  }
  .sc{
    margin-top: 15px!important;
    margin-bottom:0px!important;
  }
  .addi{
    margin-left: 177px !important;
    margin-top: 7px !important;
  }
  .logo {
    padding-top: 5% !important;
}
.social1 {
    margin-right: 0% !important;
}
.social {
    margin-right: 7% !important;
}
   }

 

/* for ipad pro*/

.desk1{
  display: block;
}
.ipad_pro{
  display: none;
}
.myclass{
  display: none;
}
@media only screen and (width: 1024px) {
  .desk1{
    display: none;
  }
  .myclass{
    display: block;
  }
  .ipad_pro{
    display: block;
  }

  .res{
    width:100%
  }
 
  .stf{
    margin-top: 6.5px !important
    ;margin-bottom: 6.5px !important;
  }

  .stb{
    margin-top: 28px !important;
   
    padding-right: 2px;
    
  }
  
  .myipad_pro{
    margin-top: 15px;
    margin-bottom: 15px;

  }

  .myipad_pro1{
    margin-top: 15px;
    margin-bottom: 15px;

  }

}
